<!DOCTYPE html>
<html lang="en">
<head>
  <title>Getting Started with ml5.js</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
</head>

<body>
<script>
  // Your code will go here
  // open up your console - if everything loaded properly you should see the correct version number
  console.log('ml5 version:', ml5.version);


  // 数据集
  const Xtrain = [[1,0],[0,1],[1,1],[0,0]]
  const Ytrain = [1,1,0,0]

  // 载入模型训练
  const model = new GaussianNB();
  model.train(Xtrain, Ytrain);

  const Xtest = [1,1]
  // 预测结果
  const predictions = model.predict([Xtest]);
  console.log(predictions);

</script>
</body>
</html>
